game-Screen {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 100vw;
    height         : 100vh;
    position       : relative;
}

.arena {
    background-color: black;
}

.arena img {
    position: absolute;
}

.arena .segment {
    transform-origin: 50% 50%;
    transition      : all .5s;
}

.arena .snack {
    width    : 24px;
    height   : 24px;
    transform: translate(-4px,-4px);
}
