status {
    position: absolute;
    z-index : 2;
    bottom  : 0;
    width   : 100vw;
}

.statusLine {
    font-size  : 18px;
    line-height: 30px;
    color      : wheat;
    margin-left: 24px;
}
