body {
    position        : relative;
    background-color: black;
}

.gameTitle {
    position      : absolute;
    top           : 0;
    width         : 100vw;
    font-family   : 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size     : 20px;
    line-height   : 30px;
    text-align    : center;
    color         : whitesmoke;
}

.arena {
    width     : 100vw;
    height    : 100vh;
    box-sizing: border-box;
    border    : 30px solid crimson;
}
